<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002741255501-2r8tfj521u8qqpghqv0f0j9ccn5cgumj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002741255501-2r8tfj521u8qqpghqv0f0j9ccn5cgumj</string>
	<key>API_KEY</key>
	<string>AIzaSyBwD8WkP6W42M6Z3GKpuF_TiS7Ep37BOJw</string>
	<key>GCM_SENDER_ID</key>
	<string>1002741255501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nitramy.Educatech</string>
	<key>PROJECT_ID</key>
	<string>educatech-2f0e6</string>
	<key>STORAGE_BUCKET</key>
	<string>educatech-2f0e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002741255501:ios:f5e93ec3944d7cc8b7bb04</string>
</dict>
</plist>